.gitconfig
.bash_logout
.bash_profile
.bashrc
.vboxclient*
.viminfo
.wezterm.lua
.wget-hsts
.zcompdump
.zdirs
.zsh_history
.cache
.config
.local
.mozilla
.pki
.vscode
.vscode-server
Desktop
DOcuments
Downloads
Music
Pictures
Public
Templates
Videos
.zshrc
encrypted.bin
fd-public.key
fd.key
message.txt
signed.sha256